.form {
  background-color: lightgrey;
  max-width: auto;
  margin: 5%;
  border-radius: 25px;
  height: auto;
  padding: 20px;
}

#balanceDisp {

}
.btn {
  margin-top: 10px;
}
#current {
  display: none;
}
